#wrapper{
  width: 960px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px auto 75px;
  background-color: #ffffff;
  border: 3px solid #000000;
  margin: 1em auto;
  padding: 1em;
}

/*types of text*/

h1{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  margin: 30px;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 3px solid #000000;
}

body{
  background-image: url(a62.png);
}


p{
  font-family: Georgia, serif;
}

/*

I'm not sure how to apply this to just the links in the text and not the nav


a:hover {
 color: #0000ff;
 text-decoration: underline;
}
*/

/*sections*/

header{
  grid-column: span 12;
  background-color: #000000;
}

nav{
  font-family: Helvetica, Arial, sans-serif;
  grid-column: span 2;
  color: #ffffff;
}

main{
  grid-column: span 10;
  text-align: justify;
}

footer{
    grid-column: span 12;
    border-top: 3px solid #000000;
    background-color: #ff0000;
}

/*nav*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {
  padding: 0px;
  margin: 10px;
  width: 130px;
}

nav li a:hover {
  background-color: #660000;

}

nav li a {
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #cc0000;
  display: block;
  text-decoration: none;
}

/*classes*/

.footertext {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-style: italic;
}

.imgbox{
  border: 3px solid #000000;
  padding: 10px;
  margin-right: 10px;
  float: left;
}

.bold{
  font-weight: bold;
}

.link{
 color: #ff0000;
 text-decoration: none;

}
